[submodule "distro/bitbake"]
	path = distro/bitbake
	url = https://git.muxel.dev/muxelplexer/bitbake-oecore
[submodule "distro/layers/openembedded-core"]
	path = distro/layers/openembedded-core
	url = https://git.muxel.dev/muxelplexer/openembedded-core
[submodule "distro/layers/meta-rockchip"]
	path = distro/layers/meta-rockchip
	url = https://@github.com/muxelplexer/meta-rockchip.git
[submodule "distro/layers/meta-arm"]
	path = distro/layers/meta-arm
	url = https://git.muxel.dev/muxelplexer/meta-arm-yocto
[submodule "distro/layers/meta-openembedded"]
	path = distro/layers/meta-openembedded
	url = https://git.muxel.dev/muxelplexer/meta-openembedded
