[submodule "distro/bitbake"]
	path = distro/bitbake
	url = https://git.muxel.dev/muxelplexer/bitbake-oecore
[submodule "distro/layers/openembedded-core"]
	path = distro/layers/openembedded-core
	url = https://git.muxel.dev/muxelplexer/openembedded-core
[submodule "distro/layers/meta-rockchip"]
	path = distro/layers/meta-rockchip
	url = https://@github.com/muxelplexer/meta-rockchip.git
[submodule "distro/layers/meta-arm"]
	path = distro/layers/meta-arm
	url = https://git.muxel.dev/muxelplexer/meta-arm-yocto
[submodule "distro/layers/meta-openembedded"]
	path = distro/layers/meta-openembedded
	url = https://git.muxel.dev/muxelplexer/meta-openembedded
[submodule "distro/sources/sys/linux"]
	path = distro/sources/sys/linux
	url = https://git.muxel.dev/muxnix/linux.git
	branch = yocto-muxnix
[submodule "distro/sources/sys/u-boot"]
	path = distro/sources/sys/u-boot
	url = https://git.muxel.dev/muxnix/u-boot.git
	branch = muxnix
[submodule "distro/sources/sys/aic8800"]
	path = distro/sources/sys/aic8800
	url = https://git.muxel.dev/muxnix/aic8800.git
	branch = yocto_build
[submodule "distro/sources/app/fastfetch"]
	path = distro/sources/app/fastfetch
	url = https://github.com/fastfetch-cli/fastfetch.git
	branch = master
